*{
    margin: 0;
    padding: 0;

}

body{
    background: #3e425f;
}

.introduction{
    text-align: center;
    color:white;
    font-size: 1.87em;
    margin: 0;
} 

.operands{
    font-size: 1.27em;

}



#display{
    display: flex;
    background: rgba(0, 0, 0, 0.253);;
    margin: 30px auto;
    height: 100px;
    width: 68%;
    border-radius: 200px 0px 0px 200px;
    -moz-border-radius: 200px 0px 0px 200px;
    -webkit-border-radius: 200px 0px 0px 200px;
    border: 0px solid #000000;
}
#display div{
    color:white;
    padding:10px ;
    margin-left: 20px;
    margin-bottom: -20px;
}
.operators{
    margin-left: 0px;
}


.calc-body{
    display: flex;
    margin: 0 auto;
    padding: 20px;
    height:10%;
    width: 79.9%;
}

.calc-body .operators button{
    height:50px;
    width: 80px;
    border-radius: 0%;
}
.calc-body .numbers button{
    border-radius: 0%;
    border: white solid 0px;;
    height: 90px;
    width: 200px;
}

/* .calc-body .numbers button:nth-child(1){
    border-radius: 22px 0px 0px 0px;
-moz-border-radius: 22px 0px 0px 0px;
-webkit-border-radius: 22px 0px 0px 0px;
border: 0px solid #000000;
} */
.calc-body .numbers button:nth-child(12){
    border-radius: 0px 0px 34px 0px;
-moz-border-radius: 0px 0px 34px 0px;
-webkit-border-radius: 0px 0px 34px 0px;
border: 0px solid #000000;
}

.op-btn:hover{
    z-index: 5;
    margin-bottom: -12px;
}
@media (max-width: 1000px) {
    body {
    }

    .calc-body{
        
        width: 100%;
    }
    
  }